/* HTML Body  */
body{
  margin: 0;
  padding: 0;
  font-size: 1,5em;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

/* Container of everything */
#container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 70vh;
  border-radius: 20px;
  box-shadow: 0px 5px 15px 0px;
}
/* Start quiz button */
#start{
  padding: 40px 80px;
  background: linear-gradient(359.47deg, #0BA61B 0.42%, #0BA61B 49.11%, #FFFFFF 156.22%);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-size:larger;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}


#start:hover{
  border: 3px solid #0BA61B;
  color: yellow;
}

/* Quiz container */
#quiz {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 20px;
}

/* Question and answer container */
#questionChoices{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2%;
}

/* Main question */
#question {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 2%;
  width: 96%;
  background: linear-gradient(269.57deg, #FFB905 0.29%, #EF2727 99.57%);
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#question p{
  margin : 0;
  padding : 15px;
  font-size: 1.25em;
  font-weight: bold;
}

/* Answer container */
#choices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60%;
  width: 100%;
}

/* Answers */
.choice {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 2%;
  height: 70%;
  width: 100%;
  margin: 2%;
  font-weight: bold;
  color: darkslategray;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.choice:hover {
  background: linear-gradient(269.57deg, #FFB905 0.29%, #EF2727 99.57%);
  color: white;
}

/* Image and counter container */
#imageCounter {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Image one the left */
#qImg{
  width : 200px;
  height : 200px;
  margin-left: 10%;
}
#qImg img{
  width : 200px;
  height : 200px;
  border-radius: 20px;
}

#btimeGauge{
  width : 150px;
  height : 10px;
  border-radius: 10px;
  background-color: lightgray;
  margin-left : 25px;
}

/* Counter and time gauge */
#counter{
  margin-top: 10%;
  font-size: 3em;
  text-align: center;
  color: darkslategray;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#timeGauge{
  height : 10px;
  border-radius: 10px;
  background: linear-gradient(180deg, #038E00 21.35%, rgba(5, 247, 0, 0.0677083) 51.04%, rgba(3, 153, 0, 0.904652) 72.92%);
  margin-top : -10px;
  margin-left : 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#timer{
margin-bottom: 10%;
margin-left: 5%;
}

/* Progression lights */
#progress{
  margin: 8%;
}

.prog{
  width : 25px;
  height : 25px;
  display: inline-block;
  border-radius: 50%;
  margin-left : 5px;
  margin-right : 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Score style */
#scoreContainer{
  margin : 20px auto;
  background-color: white;
  opacity: 0.8;
  height: 300px;
  width : 700px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px;
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#scoreContainer p{
  width : 59px;
  height :59px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
} 

/* Progression lights */
#progress{
  margin: 8%;
}

.prog{
  width : 25px;
  height : 25px;
  display: inline-block;
  border-radius: 50%;
  margin-left : 5px;
  margin-right : 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}




/* [ON SMALL SCREENS] */
@media screen and (max-width: 1024px){
  #imageCounter{
    width: 1%;
  }

  #qImg {
    display: none;
  }

  #timeGauge{
    display: none;
  }

  #qImg img{
    display: none;
  }

  #btimeGauge{
    display: none;
  }

  #counter{
    position: absolute;
    bottom: 20%;
    left: 17%;  
  }

  #progress{
    margin: 0;
    margin-left: 10%;
    margin-bottom: 8%;
    margin-top: 8%;
  }
}

@media screen and (max-width: 700px){
  #choices {
    flex-direction: column;
    width: 70%;
}

#counter{
font-size: 1em;
font-weight: bold;
}
}